<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <br/>
		<h1 class="text-center">todos</h1>
		<section class="well">
			<div class="input-group ">
			  <span class='input-group-addon'>
					<input type="text" id="new-todo" placeholder="What needs to be done?" />
			  </span>
			</div>
				
			<div class="list-group-item">
 
				<input type="checkbox" class="toggle">
        <label>Learn Ember.js</label>
				<button class='btn btn-default btn-xs pull-right'>
     			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<br/>
        <input type="checkbox" class="toggle">
        <label>...</label>
				<button class='btn btn-default btn-xs pull-right'>
     			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>				
				<br/>
        <input type="checkbox" class="toggle">
        <label>Profit!</label>
				<button class='btn btn-default btn-xs pull-right'>
     			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<br/>
			</div>

      <footer class="footer">
        <span>
          <strong>2</strong> todos left
        </span>

				<div class="btn-group" role="group">
          <a href="all" class="selected">All</a>
          <a href="active">Active</a>
          <a href="completed">Completed</a>
				</div>
	      <span class="btn btn-default pull-right">
					Clear completed (1)
	      </span>
      </footer>
		</section>

  </div>
  <div class="col-md-3"></div>
</div>
